{%- assign fixed_aspect_ratio = false -%}
{% unless image_size == 'natural' %}
  {%- assign fixed_aspect_ratio = true -%}
{% endunless %}

<div class="today-{{ today_date }} enddate-{{ pre_date }} grid__item {{ grid_item_width }}" data-aos="row-of-{{ per_row }}">
  <div class="gridd relative">
    <div class="gridd__item small--one-whole">
      {%- if article.image -%}
        <a href="{{ article.url }}" class="article__grid-image" aria-label="{{ article.title | escape }}">
          {%- if fixed_aspect_ratio -%}
            <div class="image-wrap">
              <div
                class="grid__image-ratio grid__image-ratio--{{ image_size }}">
                {%- render 'image-element',
                  img: article.image,
                  sizes: '33vw',
                  widths: '900, 1080',
                -%}
              </div>
            </div>
          {%- else -%}
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: article.image.aspect_ratio }}%;">
              {%- render 'image-element',
                img: article.image,
                sizes: '33vw',
                widths: '900, 1080',
              -%}
            </div>
          {%- endif -%}
        </a>
      {%- else -%}
        <div class="article__grid-image">
          {%- if fixed_aspect_ratio -%}
            <div class="image-wrap">
              <div
                class="grid__image-ratio grid__image-ratio--{{ image_size }}">
              </div>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
    <div class="article_abs gridd__item small--two-thirds">
      <div class="article__grid-meta  text-left">
        
        <div class="event_data">
            {% if article.metafields.custom.event_city %}
              <div class="event_city article_data">{{ article.metafields.custom.event_city }}</div>
            {% endif %}
            {% if article.metafields.custom.event_country %}
              <div class="event_country article_data">{{ article.metafields.custom.event_country }}</div>
            {% endif %}
            {% if article.metafields.custom.event_end_date %}
              <div class="event_date article_data">{{ article.metafields.custom.event_start_date | date: "%b" }}, {{ article.metafields.custom.event_start_date | date: "%d" }} - {{ article.metafields.custom.event_end_date | date: "%d" }}</div>
            {% endif %}
        </div>
      
        <div class="btn_bottom">          
          <div class="btn_bottom">
            <button class="tool-tip-trigger__title btn globo-formbuilder-open" data-id="MTI0Mzg2" 
              data-event_city="{{ article.metafields.custom.event_city }}" 
              data-event_country="{{ article.metafields.custom.event_country }}" 
              data-event_start_date="{{ article.metafields.custom.event_start_date }}">ENQUIRE NOW</button>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
