{%- assign animation_row = 1 -%}
{%- assign drawer_position = 'right' -%}
{% if logo_alignment == 'center' %}
  {%- assign drawer_position = 'left' -%}
{% endif %}
<style>
</style>
<div id="NavDrawer" class="drawer drawer--{{ drawer_position }}">
  <div class="drawer__contents">
    <div class="drawer__fixed-header">
      <div class="drawer__header appear-animation appear-delay-{{ animation_row }}">
        {% comment %} <div class="h2 drawer__title">
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="link">
            <img src="https://cdn.shopify.com/s/files/1/1476/0022/files/account_circle.png?v=1753448907" alt="account" width="" height="" /><span> SIGN IN</span>
          </a>
        </div> {% endcomment %}
        <div class="drawer__close">
          <button type="button" class="drawer__close-button js-drawer-close">
            <svg class="icon icon-close" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
            <path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"></path>
            </svg>
            <span class="icon__fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
          </button>
        </div>
      </div>
      {% render 'predictive-search', section: section, context: 'header' %}
    </div>
    <div class="drawer__scrollable">
      <ul class="mobile-nav{% if settings.type_navigation_style == 'heading' %} mobile-nav--heading-style{% endif %}" role="navigation" aria-label="Primary">
        {%- for link in main_menu.links -%}
          {% if link.title == 'Black Friday' %}
            <li class="mobile-nav__item appear-animation appear-delay-9">
              <a href="{% if customer %}/collections/black-friday{% else %}{{ link.url }}{% endif %}" class="mobile-nav__link mobile-nav__link--top-level">{{ link.title }}</a>
            </li>
          {% endif %}
          {% unless link.title == 'Black Friday' %}
            {%- assign animation_row = animation_row | plus: 1 -%}
            {%- assign child_list_handle = link.url | handleize | append: forloop.index -%}
            {%- assign has_dropdown = false -%}
            {%- if link.links != blank -%}
              {%- assign has_dropdown = true -%}
            {%- endif -%}

            <li class="mobile-nav__item appear-animation appear-delay-{{ animation_row }}">
              {%- if has_dropdown -%}
                <div class="mobile-nav__has-sublist">                
                  <button type="button"
                      aria-controls="Linklist-{{ child_list_handle }}"{% if link.active or link.child_active %} aria-open="true"{% endif %}
                      class="mobile-nav__link--button mobile-nav__link--top-level collapse_label_1 collapsible--trigger collapsible--auto-height{% if link.active or link.child_active %} is-open{% endif %}">
                    <span class="mbmt mobile-nav__faux-link"{% if link.active %} data-active="true"{% endif %}>
                        {{ link.title }}
                    </span>
                    <div class="mobile-nav__toggle">
                        <span class="faux-button">
                          {%- render 'arrow' -%}
                        </span>
                    </div>
                  </button>
                </div>
              {%- else -%}
                <a href="{{ link.url }}" class="mbmt mobile-nav__link mobile-nav__link--top-level"{% if link.active %} data-active="true"{% endif %}>{{ link.title }}</a>
              {%- endif -%}

              {%- if has_dropdown -%}
                <div id="Linklist-{{ child_list_handle }}"
                  class="mobile_sub_2 mobile-nav__sublist collapsible--content collapsible-content--all "
                  {% if link.active or link.child_active %}style="height: auto;"{% endif %}>
                  <div class="cd back_l1">                
                    <div class="mobile-nav__toggle">
                      <button type="button"
                        aria-controls="Linklist-{{ child_list_handle }}"{% if link.active or link.child_active %} aria-open="true"{% endif %}
                        aria-labelledby="Label-{{ child_list_handle }}"
                        class="collapsible--trigger back_lbl_1 collapsible--auto-height{% if link.active or link.child_active %} is-open{% endif %}">
                        {%- render 'arrow' -%} <span style="padding-left:10px;">{{ link.title }}</span>
                      </button>
                    </div>
                    <div class="drawer__close">
                      <button type="button" class="drawer__close-button js-drawer-close">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><title>icon-X</title><path d="m19 17.61 27.12 27.13m0-27.12L19 44.74"></path></svg>
                        <span class="icon__fallback-text">Close menu</span>
                      </button>
                    </div>
                  </div>
                  {% for block in section.blocks %}
                    {% if block.type == 'menu' %}
                      {% if block.settings.men-title == link.title %}
                        {% if block.settings.align %}
                          {% assign buttonLabel = block.settings.btn-label %}
                          {% assign buttonLabel = block.settings.btn-label %}
                          {% assign subText = block.settings.sub-text %}
                          {% assign menuImage = block.settings.mega-image | img_url: "master" | img_tag %}
                          <div class="poi menupromo__image menu_img_block imageContainerBox appear-animation appear-delay-{{ animation_column }}">
                            <div class="menupromo__inner">
                              <div class="megapromo__griditem">
                                <div class="small--hide">
                                  {% if megaLink %}
                                  <a href="{{ megaLink }} ">
                                  {% endif %}
                                    {{ menuImage | replace: ' src="' , ' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="' | replace: ' srcset="' , ' dt="' }}
                                    <div class="megapromo__textbox">
                                      <div class="rte">{{ subText }}</div>
                                      <span>{{ buttonLabel }}</span>
                                    </div>
                                  {% if megaLink %}
                                  </a>
                                  {% endif %}
                                </div>
                                                                
                                {% assign buttonLabel = block.settings.btn-label %}
                                {% assign mtitle = block.settings.mtitle %}
                                {% assign mobLink = block.settings.mlink %} 
                                {% assign mobImage = block.settings.mimage | img_url: "master" | img_tag %}
                                                        
                                {% if block.settings.mimage != blank %}         
                                  <div class="medium-up--hide">
                                    {% if mobLink %}
                                    <a href="{{ mobLink }} ">
                                    {% endif %}
                                      {{ mobImage | replace: ' src="' , ' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="' | replace: ' srcset="' , ' dt="' }}
                                      {% if block.settings.mtitle != blank %}
                                        <div class="megapromo__above_img">
                                          <div class="uppercase t">{{ mtitle }}</div>
                                            <!-- <div class="shop_t">Shop Now</div> -->
                                          </div>
                                      {% endif %}
                                    {% if mobLink %}
                                    </a>
                                    {% endif %}
                                  </div>
                                {% endif %}

                                {% assign mtitle2 = block.settings.mtitle2 %}
                                {% assign mobLink2 = block.settings.mlink2 %} 
                                {% assign mobImage2 = block.settings.mimage2 | img_url: "master" | img_tag %}
                                {% if block.settings.mimage2 != blank %}                   
                                  <div class="medium-up--hide">
                                    {% if mobLink2 %}
                                      <a href="{{ mobLink2 }} ">
                                    {% endif %}
                                      {{ mobImage2 | replace: ' src="' , ' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="' | replace: ' srcset="' , ' dt="' }}
                                                                    
                                      {% if block.settings.mtitle2 != blank %}
                                        <div class="megapromo__above_img">
                                          <div class="uppercase t">{{ mtitle2 }}</div>
                                          <!-- <div class="shop_t">Shop Now</div> -->
                                        </div>
                                      {% endif %}
                                      {% if mobLink %}
                                      </a>
                                    {% endif %}
                                  </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endif %}                    
                    {% endif %}
            
                    {% if block.type == 'megamenutype2' %}
                      {% if block.settings.men-title == link.title %}
                        {% if block.settings.align %}
                          {% assign ismegatype2 = true %}
                          {% assign buttonLabel = block.settings.btn-label %}
                          {% assign subText = block.settings.sub-text %}
                          {% assign menuImage = block.settings.mega-image | img_url: "master" | img_tag %}
                          {% assign megaLink = block.settings.mega-link %} 
                          
                          {% assign buttonLabel2 = block.settings.btn-label2 %}
                          {% assign subText2 = block.settings.sub-text2 %}
                          {% assign menuImage2 = block.settings.mega-image2 | img_url: "master" | img_tag %}
                          {% assign megaLink2 = block.settings.mega-link2 %}
                  
                          {% assign buttonLabel3 = block.settings.btn-label3 %}
                          {% assign subText3 = block.settings.sub-text3 %}
                          {% assign menuImage3 = block.settings.mega-image3 | img_url: "master" | img_tag %}
                          {% assign megaLink3 = block.settings.mega-link3 %}
                          
                          <div class="tyr menupromo__image megatype2promo menu_img_block imageContainerBox appear-animation appear-delay-{{ animation_column }}">
                            <div class="menupromo__inner">
                              <div class="megapromo__griditem">
                                {% if megaLink %}
                                <a href="{{ megaLink }} ">
                                {% endif %}
                                  {{ menuImage }}
                                  <div class="megapromo__textbox">
                                    <p class="h3">{{ buttonLabel }}</p>
                                    <span>{{ subText }}</span>
                                  </div>
                                {% if megaLink %}
                                </a>
                                {% endif %}
                              </div>
                              <div class="megapromo__griditem">
                                {% if megaLink2 %}
                                <a href="{{ megaLink2 }} ">
                                {% endif %}
                                  {{ menuImage2 }}
                                  <div class="megapromo__textbox">
                                    <p class="h3">{{ buttonLabel2 }}</p>
                                    <span>{{ subText2 }}</span>
                                  </div>
                                {% if megaLink2 %}
                                </a>
                                {% endif %}
                              </div>
                              <div class="megapromo__griditem">
                                {% if megaLink3 %}
                                <a href="{{ megaLink3 }} ">
                                {% endif %}
                                  {{ menuImage3 }}
                                  <div class="megapromo__textbox">
                                    <p class="h3">{{ buttonLabel3 }}</p>
                                    <span>{{ subText3 }}</span>
                                  </div>
                                {% if megaLink3 %}
                                </a>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <div class="subcatmenus subcatmenus__megatype2promo grid__item medium-up--one-fifth  appear-animation appear-delay-{{ animation_column }}">  
                            <div class="textblock__megapromo">
                              <div class="rte">
                                {{ block.settings.descriptionarea }}
                              </div>
                              <a href="{{ block.settings.textlink }}" class="">{{ block.settings.textlabel }}</a>
                            </div>
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  <div class="collapsible-content__inner">
                    <ul class="mobile-nav__sublist">
                      {% if link.levels > 1 %}       
                        {% unless link.title == 'Collections' or link.title == "Marco's World" %}                    
                        <li class="mobile-nav__item   {% if forloop.first %}at_bottom {% endif %} fixedmenuitems">
                          <a href="{{ link.url }}" class="mobile-nav__link" id="Sublabel-1">
                            Discover All {{ link.title }}
                          </a>
                        </li>                    
                        {% endunless %}
                      {% endif %}
                      
                      {% if link.title == 'Collections' or link.title == 'collections' %}
                        <div class="collectionslist__menu">
                          <div class="mobile-nav__child-item mobile-nav__child-item-collections{{ forloop.index }}">                          
                            <a href="{{ link.url }}" class="mobile-nav__link" id="Sublabel-1">
                                Discover All {{ link.title }}
                            </a>
                          </div>
                      {% endif %}
                      {%- for childlink in link.links -%}
                        {%- assign has_sub_dropdown = false -%}
                        {%- assign grand_child_list_handle = childlink.url | handleize | append: forloop.index -%}
                        {%- if childlink.links != blank -%}
                          {%- assign has_sub_dropdown = true -%}
                        {%- endif -%}
                        <li class="mobile-nav__item cc r55">
                          {% unless link.title == 'Collections' or link.title == 'collections' %}
                            <div class="mobile-nav__child-item">
                              {%- if childlink.url == '#' and has_sub_dropdown -%}
                                {% if link.title != 'Gifts' %}
                                <button type="button"
                                aria-controls="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}"{% if childlink.active or childlink.child_active %} aria-open="true"{% endif %}
                                class="mobile-nav__link--button  collapse_label_2 collapsible--trigger {% if childlink.active or childlink.child_active %} is-open{% endif %}">
                                  <span class="mobile-nav__faux-link"{% if childlink.active %} data-active="true"{% endif %}>{{ childlink.title | escape }}</span>
                                
                                </button>
                                  {% endif %}
                              {%- else -%}
                                <a href="{{ childlink.url }}"
                                  class="mobile-nav__link"
                                  id="Sublabel-{{ grand_child_list_handle }}"
                                  {% if childlink.active %}data-active="true"{% endif %}>
                                  {{ childlink.title | escape }}
                                </a>
                              {%- endif -%}
                            </div>
                          
                            {%- if has_sub_dropdown -%}
                              <div
                                id="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}"
                                aria-labelledby="Sublabel-{{ grand_child_list_handle }}"
                                class="mobile_sub_3 mobile-nav__sublist collapsible-content collapsible-content--all is-open{% if childlink.active or childlink.child_active or link.title == 'Gifts' %} is-open{% endif %}"
                                {% if childlink.active or childlink.child_active %}style="height: auto;"{% endif %}>
                                <div class="collapsible-content__inner">
                                  <ul class="mobile-nav__grandchildlist">
                                    {%- for grandchildlink in childlink.links -%}
                                      <li class="mobile-nav__item mm">
                                        <a href="{{ grandchildlink.url }}" class="mobile-nav__link"{% if grandchildlink.active %} data-active="true"{% endif %}>
                                          {{ grandchildlink.title }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </div>
                              </div>
                            {%- endif -%}
                          {% else %}                          
                            <ul class="mobile-nav__grandchildlist">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li class="mobile-nav__item mm">
                                      <a href="{{ grandchildlink.url }}" class="mobile-nav__link"{% if grandchildlink.active %} data-active="true"{% endif %}>
                                        {{ grandchildlink.title }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                          {% endunless %}
                        </li>
                      {%- endfor -%}
                          {% if link.title == 'Collections' or link.title == 'collections' %}
                        </div>
                      {% endif %}
                    </ul>
                  </div>
                  {% for block in section.blocks %}
                    {% if block.type == 'menu' %}
                      {% if block.settings.align %}{% else %}
                        {% if block.settings.men-title == link.title %}
                          {% assign buttonLabel = block.settings.btn-label %}
                          {% assign buttonLabel = block.settings.btn-label %}
                          {% assign subText = block.settings.sub-text %}
                          {% assign menuImage = block.settings.mega-image | img_url: "master" | img_tag %}
        
                          <div class="mnnb menupromo__image menu_img_block imageContainerBox appear-animation appear-delay-{{ animation_column }}">
                            <div class="menupromo__inner">
                              <div class="megapromo__griditem">
                                <div class="small--hide">
                                {% if megaLink %}
                                <a href="{{ megaLink }} ">
                                {% endif %}
                                  {{ menuImage | replace: ' src="' , ' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="' | replace: ' srcset="' , ' dt="' }}
                                  <div class="megapromo__textbox">
                                    <div class="rte">{{ subText }}</div>
                                    <span>{{ buttonLabel }}</span>
                                  </div>
                                {% if megaLink %}
                                </a>
                                {% endif %}
                                </div>

                                                                
                                      {% assign buttonLabel = block.settings.btn-label %}
                                      {% assign mtitle = block.settings.mtitle %}
                                      {% assign mobLink = block.settings.mlink %} 
                                      {% assign mobImage = block.settings.mimage | img_url: "master" | img_tag %}
                                                        
                              {% if block.settings.mimage != blank %}         
                                      <div class="medium-up--hide">
                                        {% if mobLink %}
                                                                <a href="{{ mobLink }} ">
                                                                {% endif %}
                                                                  {{ mobImage | replace: ' src="' , ' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="' | replace: ' srcset="' , ' dt="' }}
                                                                  {% if block.settings.mtitle != blank %}
                                                                  <div class="megapromo__above_img">
                                                                    <div class="uppercase t">{{ mtitle }}</div>
                                                                    {% comment %} <div class="shop_t">Shop Now</div> {% endcomment %}
                                                                  </div>
                                                                  {% endif %}
                                                                {% if mobLink %}
                                                                </a>
                                        {% endif %}
                                      </div>
                                {% endif %}

                                      {% assign mtitle2 = block.settings.mtitle2 %}
                                      {% assign mobLink2 = block.settings.mlink2 %} 
                                      {% assign mobImage2 = block.settings.mimage2 | img_url: "master" | img_tag %}
                              {% if block.settings.mimage2 != blank %}                   
                                      <div class="medium-up--hide">
                                        {% if mobLink2 %}
                                                                <a href="{{ mobLink2 }} ">
                                                                {% endif %}
                                                                  {{ mobImage2 | replace: ' src="' , ' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="' | replace: ' srcset="' , ' dt="' }}
                                                                  
                                                                  {% if block.settings.mtitle2 != blank %}
                                                                  <div class="megapromo__above_img">
                                                                    <div class="uppercase t">{{ mtitle2 }}</div>
                                                                    <!-- <div class="shop_t">Shop Now</div> -->
                                                                  </div>
                                                                  {% endif %}
                                                                {% if mobLink %}
                                                                </a>
                                        {% endif %}
                                      </div>
                                {% endif %}
                                
                                
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endif %}                   
                    
                      {% if block.type == 'megamenutype2' %}                    
                        {% if block.settings.men-title == link.title %}
                          {% assign ismegatype2 = true %}
                          {% assign buttonLabel = block.settings.btn-label %}
                          {% assign subText = block.settings.sub-text %}
                          {% assign menuImage = block.settings.mega-image | img_url: "master" | img_tag %}
                          {% assign megaLink = block.settings.mega-link %} 
                          
                          {% assign buttonLabel2 = block.settings.btn-label2 %}
                          {% assign subText2 = block.settings.sub-text2 %}
                          {% assign menuImage2 = block.settings.mega-image2 | img_url: "master" | img_tag %}
                          {% assign megaLink2 = block.settings.mega-link2 %}
                  
                          {% assign buttonLabel3 = block.settings.btn-label3 %}
                          {% assign subText3 = block.settings.sub-text3 %}
                          {% assign menuImage3 = block.settings.mega-image3 | img_url: "master" | img_tag %}
                          {% assign megaLink3 = block.settings.mega-link3 %}
                          
                          <div class="jjh menupromo__image megatype2promo menu_img_block imageContainerBox appear-animation appear-delay-{{ animation_column }}">
                            <div class="menupromo__inner">
                              <div class="megapromo__griditem">
                                {% if megaLink %}
                                <a href="{{ megaLink }} ">
                                {% endif %}
                                  {{ menuImage }}
                                  <div class="megapromo__textbox">
                                    <p class="h3">{{ buttonLabel }}</p>
                                    <span>{{ subText }}</span>
                                  </div>
                                {% if megaLink %}
                                </a>
                                {% endif %}
                              </div>
                              <div class="megapromo__griditem">
                                {% if megaLink2 %}
                                <a href="{{ megaLink2 }} ">
                                {% endif %}
                                  {{ menuImage2 }}
                                  <div class="megapromo__textbox">
                                    <p class="h3">{{ buttonLabel2 }}</p>
                                    <span>{{ subText2 }}</span>
                                  </div>
                                {% if megaLink2 %}
                                </a>
                                {% endif %}
                              </div>
                              <div class="megapromo__griditem">
                                {% if megaLink3 %}
                                <a href="{{ megaLink3 }} ">
                                {% endif %}
                                  {{ menuImage3 }}
                                  <div class="megapromo__textbox">
                                    <p class="h3">{{ buttonLabel3 }}</p>
                                    <span>{{ subText3 }}</span>
                                  </div>
                                {% if megaLink3 %}
                                </a>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <div class="subcatmenus subcatmenus__megatype2promo grid__item medium-up--one-fifth  appear-animation appear-delay-{{ animation_column }}">  
                            <div class="textblock__megapromo">
                              <div class="rte">
                                {{ block.settings.descriptionarea }}
                              </div>
                              <a href="{{ block.settings.textlink }}" class="">{{ block.settings.textlabel }}</a>
                            </div>
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              {%- endif -%}
            </li>
          {% endunless %}        
        {%- endfor -%}
       
        {%- assign have_secondary_list = false -%}
        {%- if section.settings.toolbar_menu != blank or shop.customer_accounts_enabled -%}
          {%- assign have_secondary_list = true -%}
        {%- endif -%}

        {%- if have_secondary_list and section.settings.toolbar_menu != blank -%}
          <li class="bottom_menu_b mobile-nav__item mobile-nav__item--secondary">
            <div class="grid">
              {%- for link in toolbar_menu.links -%}
                {%- assign animation_row = animation_row | plus: 1 -%}
                <div class="grid__item one-half appear-animation appear-delay-{{ animation_row }} medium-up--hide">
                  <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
                </div>
              {%- endfor -%}
            </div>
          </li>
        {%- endif -%}
        <!-- 
        <li>
          <a class="mobile-nav__link" href="/pages/wishlist">Wishlist</a>
        </li> -->
      </ul>

      <div class="account_header">
        <h3>My Account</h3>
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="link btn">
          Log IN
        </a>
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="link btn btn--secondary">
          Register
        </a>
      </div>

      <button id="myButton2"><selector-root data-id=PH712938 id="PH712938"></selector-root></button>
              <script>
document.getElementById("myButton2").addEventListener("click", function() {
window.$selector.push(["do", "markets-recommendations:show"]);
});
</script>
      {%- liquid
        assign show_selectors = false
        assign currency_selector = false

        if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
          assign currency_selector = true
        endif

        if currency_selector
          assign show_selectors = true
        endif
      -%}
      {%- if show_selectors -%}
        <div class="toolbar{% if overlay_header%} toolbar--transparent{% endif %}">
          <div class="toolbar__content">
            <div class="toolbar__item">
              {%- render 'multi-selectors',
                locale_selector: locale_selector,
                currency_selector: currency_selector,
                show_currency_flags: section.settings.show_currency_flags
                location: 'drawer'
              -%}
            </div>
            {% comment %} <div class="toolbar__item"><p>Language: </p><div id="glc-switcher-manual-mobile"></div></div> {% endcomment %}
          </div>
        </div>
      {%- endif -%}  
    </div>
  </div>
</div>

